<div>

  <h3>Log in</h3>

  <form action="/auth/login" method="POST">

  <label for="username">Username</label>
  <input type="text" name="username" />
  <br />
  <label for="password">Password</label>
  <input type="password" name="password" />
  <br />

  <p style="color: red ">{{errorMessage}}</p>

  <button class="btn btn-primary border border-2 border-white">Log in</button>
  </form>
</div>