<div>

<nav class="navbar bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="../images/foodie-logo.png" alt="foodies" height="80">
          </a>
        </div>
      </nav>

<div id="login-view">
  <h3>Log in</h3>
    <div class="mx5 px5" id="formulario-sign">
    <form action="/auth/login" method="POST">
    <div class="mb-3">
    <label class="form-label" for="username">Username</label>
    <input class="form-control" type="text" name="username" />
    </div>
    <div class="mb-3">
    <label class="form-label" for="password">Password</label>
    <input class="form-control" type="password" name="password" />
    </div>

    <p style="color: red ">{{errorMessage}}</p>

    <button class="btn btn-primary border border-2 border-white">Log in</button>
  </form>
  </div>
</div>
</div>