
<div class="d-flex flex-column mb-4 justify-content-around">

<nav class="navbar bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../images/foodie-logo.png" alt="foodies" height="80">
    </a>
  </div>
</nav>

  <h3>Sign Up</h3>
  <div class="mx5 px5" id="formulario-sign">
  <form action="/auth/signup" method="POST">

<div class="mb-3">
    <label for="username" class="form-label"
>Username</label>
    <input type="text" class="form-control"
 name="username" />
  </div>
   <div class="mb-3">
    <label for="email" class="form-label"
>E-mail</label>
    <input type="text" class="form-control"
 name="email" />
    </div>
<div class="mb-3">
    <label for="password" class="form-label"
>Password</label>
    <input type="password" class="form-control"
 name="password" />
    </div>
    <div class="mb-3">
    <label for="age" class="form-label">Age</label>
    <input type="text" class="form-control"
 name="age" />
    </div>
    <div class="mb-3">
    <label for="city" class="form-label">City</label>
    <input type="text" class="form-control"
 name="city" />
    </div>

    <p style="color: red ">{{errorMessage}}</p>
</div>
</div>
<div class="justify-items-center">
    <button class="btn btn-primary border border-2 border-white">Send</button>
  </form>
  </div>

</div>