<div id="home-page">
<div id="header-home">
{{!-- <h1>{{appTitle}}</h1> --}}
{{!-- <p>Welcome to Foodies!</p> --}}
</div>



<nav id="nav-home">
<a href="/auth/signup">
 <button>Sign Up</button></a> 
<a href="/auth/login">
 <button>Log in</button></a>
</nav>
<img src="../images/foodie-logo.png" alt="logo-foodies" height="200px">
</div>

