<nav>
  {{!-- <h3>{{appTitle}}</h3> --}}

</nav>

<div id="home-page" class="d-flex flex-colum justify-content-center aling-items-left mt-2">
      <div>

  <img src="../images/foodie-logo.png" alt="logo-foodies" height="200px" />



  <nav id="nav-home" class="d-flex flex-row mt-4 justify-content-between">
    <a href="/auth/signup">
      <button class="btn btn-primary border border-2 border-white">Sign Up</button></a>
    <a href="/auth/login">
      <button class="btn btn-primary border border-2 border-white">Log in</button></a>
  </nav>
</div>
</div>