<div>




<p>Your rating:</p>

<form action="/rating/{{restaurantToRate}}/new-rating" method="POST">

<h3>{{restaurantToRate.name}}</h3>

<select name="rating">
<option value="">Choose your rating</option>

{{#each numbers}}
<option value="{{this}}">{{this}}</option>
{{/each}}
</select>
<br>

<label for="recomendedDish">Recomend dish </label>
<input type="text" name="recomendedDish">

<button>Save</button>
</form>



</div>