<div>

<p>mis valoraciones</p>

{{#each ratingList}}
<p>Restaurant:{{this.restaurant}}</p>
<br>
<p>User: </p>
<br>
<p>Rating: {{this.rating}}</p>
<br>
<p>Recomended dish: {{this.recomendedDish}}</p>


{{/each}}


</div>