@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&family=Titan+One&display=swap');

body {
  font-family: 'Noticia Text', serif, 'Titan One', "cursive";
  height: 100vh;
  font-size: 15px;
  background-color: #ffbb9c;
  
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

