@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&family=Titan+One&display=swap');

body {
  font-family: 'Noticia Text', serif, 'Titan One', "cursive";
  
  /*display: flex;
  align-items: center;
  
  
   padding: 50px; */
  font-size: 15px 
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* #home-page {
  display: flex;
  
}

#nav-home {
  display: flex;

  
  
} */