

<div>

<h3>Add restaurant</h3>

<form action="/restaurant/create" method="POST">



<label for="name" >Name</label>
<input type="text" name="name">
<br>
<label for="location" >Location</label>
<input type="text" name="location">
<br>
<label for="style" >Style</label>
<input type="text" name="style" value="{{newRest.style}}">
<br>
<label for="mainDish" >Main dish</label>
<input type="text" name="mainDish">
<br>

<button type="image">Upload Image</button>

<p style="color: red ">{{errorMessage}}</p>

<button>Send</button>


</form>



</div>