<div>

<h3>{{details.name}}</h3>
<ul>
    <p>Location: {{details.location}}</p>
    <br>
    <p>Style: {{details.style}}</p>
    <br>
    <p>Main Dish: {{details.mainDish}}</p>
</ul>
<p>Aqui irá la imagen</p>

<a href="/restaurant"><button>Go back to list</button></a>

</div>