
<div>

{{!-- <h3>Restaurants</h3>
<ul>
<a href="">Restaurant</a>
<br>
<a href="">Restaurant </a>
<br>
<a href="">Restaurant</a>
</ul>
<br> --}}

<a href="/profile"> <button>My profile</button> </a>
<br>
<a href="/"><button>Add new restaurant</button></a>
<br>
<a href="/"><button>Log out</button></a>

</div>
