<div>

  <h3>Restaurants</h3>

  {{#each restaurantList}}
    <ul>
      <a href="/restaurant/{{_id}}">{{name}}</a>
    </ul>
  {{/each}}

  <br />

  {{#if powers}}
  <a href="/restaurant/create"><button>Add new restaurant</button></a>
  {{/if}}
  
  <br>
  <a href="/profile"> <button>My profile</button> </a>
  <br />
  <a href="/auth/logout"><button>Log out</button></a>
  
   
   
  
  
  
  
</div>