
<div>
  <nav class=" d-flex flex-row mb-4 justify-content-between">
  <img src="../images/foodie-logo.png" alt="logo-foodies" height="80px" />

  <form action="">
    <label for="name"></label>
    <input type="text" name="name">
   <button class="btn btn-primary">Search a restaurant</button> 
  </form>
  </nav>

  <div class=" d-flex flex-row  mb-4 justify-content-around">
  <a href="/profile"> <button class="btn btn-primary">My profile</button> </a>
  <br />
  <a href="/auth/logout"><button class="btn btn-primary">Log out</button></a>
  </div>
 
  <h3>Restaurants</h3>

  {{#each restaurantList}}
    <ul>
      <a href="/restaurant/{{_id}}">{{name}}</a>
    </ul>
  {{/each}}

  <br />
   
  {{#if powers}}
  <a class=" d-flex aling-center justify-content-center" href="/restaurant/create"><button class="btn btn-primary">Add new restaurant</button></a>
  {{/if}}
  
  </div>

 